<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhoIsTweeting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WhoIsTweeting.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAway" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOffline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value />
            </setting>
        </WhoIsTweeting.Properties.Settings>
    </userSettings>
</configuration>