<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="WhoIsTweeting 규칙" Description="WhoIsTweeting.csproj의 코드 분석 규칙." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1811" Action="None" />
  </Rules>
</RuleSet>